[Unit]
Description=Simple weather service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/current_weather
WorkingDirectory=/opt/data

[Install]
WantedBy=default.target
